/.idea
/JAVASCRIPT/5. Vue.js/5.13. AXIOS/package-lock.json
/JAVASCRIPT/5. Vue.js/5.10. Routing/package-lock.json
/JAVASCRIPT/5. Vue.js/5.3. Webpack/vue-cli/package-lock.json
/JAVASCRIPT/5. Vue.js/5.11. VUEX/package-lock.json
/JAVASCRIPT/5. Vue.js/5.6. Directives/package-lock.json
/JAVASCRIPT/5. Vue.js/5.4. Components/package-lock.json
/JAVASCRIPT/5. Vue.js/5.5. Forms/package-lock.json
/TestTasks/ShowDiver/package-lock.json
/JAVASCRIPT/7. ES6/package-lock.json
/Node_js/5. Express/e5-express-first-app/node_modules/
/Node_js/5. Express/express-handlebar/node_modules/
/Node_js/5. Express/Get-Post/node_modules/
/Node_js/5. Express/mongoDb/node_modules/
/Node_js/5. Express/monk/node_modules/
/Node_js/5. Express/mongoose/node_modules/
/Node_js/5. Express/myapp/node_modules/
/JAVASCRIPT/9. React.js/2. React-app/node_modules/
/Node_js/6. Koa.js/node_modules/
/JAVASCRIPT/9. React.js/3. Router/node_modules/
/Node_js/7. Node WebApp/node_modules/
