/.idea
/JAVASCRIPT/5. Vue.js/5.13. AXIOS/package-lock.json
/JAVASCRIPT/5. Vue.js/5.10. Routing/package-lock.json
/JAVASCRIPT/5. Vue.js/5.3. Webpack/vue-cli/package-lock.json
/JAVASCRIPT/5. Vue.js/5.11. VUEX/package-lock.json
/JAVASCRIPT/5. Vue.js/5.6. Directives/package-lock.json
/JAVASCRIPT/5. Vue.js/5.4. Components/package-lock.json
/JAVASCRIPT/5. Vue.js/5.5. Forms/package-lock.json
/TestTasks/ShowDiver/package-lock.json
/JAVASCRIPT/7. ES6/package-lock.json
