.first_page{
	text-align: center;
}

#video{
	transition:all 5s;
}
.playerTransformed{
	opacity:0;
}
.secondPage, #headerText, #bottomPlace{
	width: 100%;
    height: 1040px;
    position:absolute;
}

.secondPage{
	transition:all 15s;
	background-image: url(img/bsckground.png);
	background-size:cover;
	opacity:0;
	top:0;

}

#headerText, #bottomPlace{
    transition:all 5s;
}
#headerText{
	top:-300px;
}
#bottomPlace{
	opacity:0;
}
.changeOpacity{
	opacity:1!important;
}

.changeHeaderText{
	transform:translateY(300px);
}




.balerina{
	filter: drop-shadow(5px 5px 5px #222);
	transition:all 0.5s;
}