
.border{
    border: 1px solid rgba(108, 108, 102, 0.64);
}
.workPanel_container{
    position: relative;
}
.workPanel_container h3, .workPanel_container p{
    display: inline-block;
}
.workPanel_container p{
    position: relative;
    left: 10%;
    font-weight: bold;
}
.blocks{
    width: 1000px!important;
    height: 200px;
    position: relative;
    list-style: none;
    display: block;
    padding: 0;
}
.workPanel{
    width: 600px;
    height: 400px;
    position: relative;
}

.draggable{
    background-color: rgba(203, 203, 203, 0.53);
    border: 1px solid #606060;
    padding: 1px;
    float: left;
    text-align: center;
    display: inline-block;
}
.draggable_count{
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 3px;
    float: right;
    width: 15px;
    height: 15px;
    text-align: center;
}

