.exampleBlock{
	background:black;
	width:400px;
	height:200px;
	color:white;
	font-size:20px;
}

.clickBlock{
	background:green;
	width:40px;
	height:50px;
	color:white;
	font-size:20px;
	position:absolute;
}
.bigBlock{
	width:500px;
	height:500px;
	background:blue;
	margin:0 auto;
	position:relative;
}

.mainBlock{
	width:300px;
	height:300px;
	background:black;
	margin:0 auto;
	position:relative;
}
.middleBlock{
	width:200px;
	height:200px;
	background:white;
	position:relative;
	margin:15px;
}
.smallBlock{
	width:100px;
	height:100px;
	background:red;
	position:relative;
	margin:15px;
}
.form_box{
	position:relative;
	border:1px solid black;
	width:300px;
	height:300px;
	padding:10px;
	display:inline-block;
	vertical-align: top;
}
.form_block{
	height:300px;
	width:300px;
	border:1px solid black;
	margin:0 10px 10px 10px ;
	display:inline-block;
	vertical-align: top;
}
.wrapper{
	margin:20px;
}
.first_part,.other_parts{
	display:inline-block;
	vertical-align: top;
}
.other_parts{
	width:1500px;
}

.person_information{
	margin:20px;
}
.box_form{
	position:relative;
	border:1px solid black;
	width:300px;
	height:350px;
	padding:10px;
	display:inline-block;
	vertical-align: top;
}
.main_block_class{
	height:300px;
	width:350px;
	border:1px solid black;
	margin:0 10px 10px 10px ;
	display:inline-block;
	vertical-align: top;
}
.person_block_form{
	height:280px;
	width:200px;
	display:inline-block;
	vertical-align: top;
	padding:10px;
	word-wrap:break-word;
	overflow: auto;
}
.user_image_block{
	display:inline-block;
	text-align:left;
	vertical-align: top;
	margin-top:10px;
}
.user_image{
	width:100px;
	height:100px;
}
.text_form_name,.text_form_lastname{
	font:20px bold black;
}

.text_form_interest,.text_form_about{
	font:16px normal black;
}

