doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My Text
    input(type='text').class-name#anyid

    if condition
      p IT's true

    -var condition2 = false
    if !condition2
      p IT's false

    -var anyArray = [1,2,3]
    each value in anyArray
      p= value

    block content

