extends layout

block content
  h1= title
  p Welcome to #{title}
  form(act="/", method="POST")
    input(name="lead_email", type="email", placeholde="Enter your email address")
    button(type="submit") Submit
  if leads
    h1 Leads
    for lead in leads
      p
        span #{lead.email}
        |
        a(href="lead/" + lead.id) Details