.square{
	height:400px;
	width:400px;
	display:inline-block;
	margin:10px;
}
.colo_red {
	background:red;
}
.color_blue {
	background:blue;
}
.color_yellow {
	background:yellow;
}
.color_green{
	background:green;
	height:200px;
	width:200px;
	display:inline-block;
	margin:10px;
}
.color_purple{
	background:purple;
	height:200px;
	width:200px;
	display:inline-block;
	margin:10px;
}
.color_lightblue{
	background:#64fefe;
	height:200px;
	width:200px;
	display:inline-block;
	margin:10px;
}
.style_ul{
	color:green;
}
.myStyle {
	color:red;
}
.newContainer{
	background:grey;
	font-size:15px;
	color:white;
	padding:10px;
	margin:15px;
	height:700px;
	width:1800px; 
	margin:0 auto;
}

.button_style{
	margin:0 auto;
	background:black;
	color:white;
	height:50px;
	width:200px;
	display:block;
}

form{
	padding: 10px;
	margin: 10px;
	background: #fff;
	border: 2px solid #a7a7a7;
	width: 400px;
	margin: 0 auto;
	font-size: 18px;
}
.warning{
	border:2px solid red;
}
.button_submit{
	height:40px;
	width:80px;
	background:#cecdcd;
	color:black;
	border:1px solid black;
	display:block;
	text-align:center;
	line-height:40px;
}
table{
	cursor:default;
}
td{
	padding:10px;
	border:1px solid #369;
}
sup{
	padding-left:4px;
	font-size:14px;
	color:#678;
}
thead td{
	background:#ccf;
}
tfoot td{
	background:#cfc;
}
caption{
	padding:5px;
	white-space:nowrap;
	border:1px solid #d30;
	background:#ffc;
}
